[submodule "Analyzing-the-wildfire-activities-in-Australia"]
	path = Analyzing-the-wildfire-activities-in-Australia
	url = https://github.com/Fsepehrpour/Analyzing-the-wildfire-activities-in-Australia.git
[submodule "Stock-Data-Analysis"]
	path = Stock-Data-Analysis
	url = https://github.com/Fsepehrpour/Stock-Data-Analysis.git
